@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*Acá empiezan los estilos del Index*/
.header__navbar--index {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  margin-left: -12px; }

.mainDelIndex {
  background-image: url(../img/index/trekkingAlone.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  top: 78px; }

@media (min-width: 1px) {
  .mainDelIndex__titulo {
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4rem;
    line-height: 2.5rem;
    margin-bottom: 0px;
    letter-spacing: 0.1rem; }
  .mainDelIndex p {
    padding-top: 0px;
    padding-bottom: 4.7rem;
    margin: auto;
    font-size: 0.5rem;
    font-weight: 400;
    color: #fff;
    line-height: 0.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
    max-width: 75%; }
  .seccion1DelIndex {
    position: relative;
    top: 78px;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .seccion1DelIndex__img {
    width: 100%; }
  .seccion1DelIndex__titulo {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 2rem; }
  .seccion1DelIndex__parrafo {
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  .footerDelIndex {
    padding-bottom: 1rem;
    position: relative;
    top: 78px;
    margin: 0px; }
  .footerDelIndex__elementos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
  .footerDelIndex__link {
    text-decoration: none; }
  .footerDelIndex__link--img {
    margin-top: 1rem; } }

@media (min-width: 319px) {
  .mainDelIndex h1 {
    padding-top: 5rem; }
  .mainDelIndex p {
    padding-top: 1rem;
    padding-bottom: 3.7rem;
    font-size: 0.7rem;
    line-height: 1rem; } }

@media (min-width: 400px) {
  .mainDelIndex h1 {
    padding-top: 5rem; }
  .mainDelIndex p {
    padding-top: 1rem;
    padding-bottom: 7rem;
    font-size: 0.7rem;
    line-height: 1rem; } }

@media (min-width: 768px) {
  .mainDelIndex h1 {
    font-size: 4rem;
    padding-top: 10rem;
    line-height: 5rem; }
  .mainDelIndex p {
    padding: 1.75rem;
    padding-bottom: 8rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    line-height: 3rem;
    letter-spacing: 0.3rem; } }

@media (min-width: 992px) {
  .seccion1DelIndex {
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "imagen titulo" "imagen parrafo";
    column-gap: 2rem; }
  .seccion1DelIndex__img {
    grid-area: imagen;
    width: 555px; }
  .seccion1DelIndex__titulo {
    grid-area: titulo;
    padding-top: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left; }
  .seccion1DelIndex__parrafo {
    grid-area: parrafo;
    padding-right: 1rem;
    font-size: 1.3rem; } }

@media (min-width: 1200px) {
  .mainDelIndex h1 {
    font-size: 4rem;
    padding-top: 10rem;
    line-height: 5rem; }
  .mainDelIndex p {
    padding: 1.75rem;
    padding-bottom: 28rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    line-height: 3rem;
    letter-spacing: 0.3rem; }
  .seccion1DelIndex__titulo {
    text-align: center;
    column-gap: 0.2rem; } }

/*Acá empiezan los estilos de la página nosotros*/
@media (min-width: 1px) {
  .header__navbar--nosotros {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    z-index: 1; }
  .nosotrosMain {
    background-image: url(../img/nosotros/mate.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .nosotrosMain__titulo {
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 19rem;
    line-height: 2.5rem;
    margin-bottom: 0px;
    letter-spacing: 0.1rem; }
  .nosotrosMain__parrafo {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 50px; }
  .nosotrosCartas__carta {
    margin-bottom: 2rem;
    border: none; }
  .nosotrosCartas__titulo {
    font-family: "Oswald", sans-serif; }
  .nosotrosCartas__parrafo {
    font-family: "Montserrat", sans-serif; }
  .Carrusel {
    position: relative;
    top: 78px; }
  .footerDeNosotros {
    padding-bottom: 1rem;
    position: relative;
    top: 78px;
    margin: 0px; }
  .footerDeNosotros__elementos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
  .footerDeNosotros__link {
    text-decoration: none; }
  .footerDeNosotros__link--img {
    margin-top: 1rem; } }

@media (min-width: 300px) {
  .nosotrosMain__titulo {
    padding-top: 20rem; }
  .nosotrosMain__parrafo {
    margin-top: 80px; } }

@media (min-width: 320px) {
  .nosotrosMain__titulo {
    padding-top: 25rem; }
  .nosotrosMain__parrafo {
    margin-top: 80px; } }

@media (min-width: 360px) {
  .nosotrosMain__titulo {
    padding-top: 27rem; }
  .nosotrosMain__parrafo {
    margin-top: 120px; } }

@media (min-width: 411px) {
  .nosotrosMain__titulo {
    padding-top: 30rem; }
  .nosotrosMain__parrafo {
    margin-top: 130px; } }

@media (min-width: 450px) {
  .nosotrosMain__parrafo {
    margin-top: 150px; } }

@media (min-width: 467px) {
  .nosotrosMain__parrafo {
    margin-top: 200px; } }

@media (min-width: 505px) {
  .nosotrosMain__parrafo {
    margin-top: 250px; } }

@media (min-width: 540px) {
  .nosotrosMain__titulo {
    padding-top: 38rem;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.2rem; } }

@media (min-width: 650px) {
  .nosotrosMain__parrafo {
    margin-top: 350px;
    margin-bottom: 6rem; } }

@media (min-width: 720px) {
  .nosotrosMain__titulo {
    padding-top: 50rem; }
  .nosotrosMain__parrafo {
    margin-top: 400px;
    margin-bottom: 6rem; } }

@media (min-width: 768px) {
  .nosotrosMain__titulo {
    font-size: 4rem;
    padding-top: 55rem;
    padding-bottom: 30rem;
    line-height: 5rem;
    letter-spacing: 0.3rem; }
  .nosotrosMain__parrafo {
    padding: 1.75rem;
    padding-bottom: 8rem;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.3rem; } }

@media (min-width: 1024px) {
  .nosotrosMain__titulo {
    padding-top: 75rem;
    padding-bottom: 2rem; }
  .nosotrosMain__parrafo {
    padding-bottom: 10rem;
    margin-top: 15rem; }
  .nosotrosCartas {
    position: relative;
    top: 78px;
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
  .nosotrosCartas__carta {
    width: 40%;
    margin: auto;
    padding-bottom: 5rem; } }

@media (min-width: 1100px) {
  .nosotrosMain__parrafo {
    margin-top: 30rem; } }

@media (min-width: 1200px) {
  .nosotrosMain__titulo {
    padding-top: 110rem;
    padding-bottom: 2rem; }
  .nosotrosMain__parrafo {
    margin-top: 15rem; } }

/*Acá comienzan los estilos de la página "localidades" */
@media (min-width: 1px) {
  .mainDeLocalidades {
    padding: 0px; }
  .mainDeLocalidades__tituloPrincipal {
    background-image: url(../img/nosotros/tarjetas/DiqueLosMolinos.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .mainDeLocalidades__tituloPrincipal--titulo {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .mainDelocalidades__izquierda {
    margin-top: 5rem; }
  .mainDelocalidades__derecha {
    margin-top: 5rem; }
  .mainDelocalidades__izquierda--img {
    width: 100%; }
  .mainDelocalidades__izquierda--titulo {
    font-family: "Oswald", sans-serif;
    color: #61B142;
    text-align: center; }
  .mainDelocalidades__izquierda--txt {
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  .mainDelocalidades__derecha--img {
    width: 100%; }
  .mainDelocalidades__derecha--titulo {
    font-family: "Oswald", sans-serif;
    color: #61B142;
    text-align: center; }
  .mainDelocalidades__derecha--txt {
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  .footerDeLocalidades {
    padding-bottom: 1rem;
    position: relative;
    top: 78px;
    margin: 0px; }
  .footerDeLocalidades__elementos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .footerDeLocalidades__link {
    text-decoration: none; }
  .footerDeLocalidades__link--img {
    margin-top: 1rem; } }

@media (min-width: 768px) {
  .mainDeLocalidades__tituloPrincipal--titulo {
    font-size: 4rem;
    padding-top: 14rem;
    padding-bottom: 20rem;
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .mainDelocalidades__izquierda {
    display: flex;
    flex-flow: row;
    margin: 10rem 3rem 0px 3rem; }
  .mainDelocalidades__izquierda--img {
    width: 50%; }
  .mainDelocalidades__izquierda--parteTexto {
    margin: auto;
    padding-left: 3rem; }
  .mainDelocalidades__derecha {
    margin-bottom: 10rem;
    display: flex;
    flex-flow: row-reverse;
    margin: 10rem 3rem 0px 3rem; }
  .mainDelocalidades__derecha--img {
    width: 50%; }
  .mainDelocalidades__derecha--parteTexto {
    margin: auto;
    padding-right: 3rem; }
  .footerDeLocalidades__elementos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; } }

/*Acá empiezan los estilos de la Galería de Imagenes*/
.header__navbar--galeria {
  position: fixed;
  top: 0px;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  margin-left: -12px; }

.mainDeGaleria {
  position: relative;
  top: 78px; }

.mainDeGaleria__titulo {
  font-size: 4rem;
  padding-top: 14rem;
  padding-bottom: 20rem;
  font-family: "Montserrat", sans-serif;
  color: #61B142;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.mainDeGaleria__galeria--contenedor {
  width: 100%;
  margin-top: 2rem;
  display: grid; }

.mainDeGaleria__galeria--imagenes {
  margin: 0.1rem; }
  .mainDeGaleria__galeria--imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.footerDeGaleria {
  padding-bottom: 1rem;
  position: relative;
  top: 78px;
  margin: 0px; }

.footerDeGaleria__elementos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }

.footerDeGaleria__link {
  text-decoration: none; }

.footerDeGaleria__link--img {
  margin-top: 1rem; }

@media (min-width: 1px) {
  .mainDeGaleria__titulo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; } }

@media (min-width: 520px) {
  .mainDeGaleria__titulo {
    font-size: 4rem;
    padding-top: 14rem;
    padding-bottom: 20rem;
    font-family: "Montserrat", sans-serif;
    color: #61B142;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .mainDeGaleria__galeria--contenedor {
    grid-template-columns: 1fr 1fr; }
  .footerDeGaleria {
    margin-bottom: 0.5rem; }
  .footerDeGaleria__link {
    text-decoration: none; }
  .footerDeGaleria__link--img {
    margin-top: 1rem;
    margin-right: 1rem; } }

@media (min-width: 728px) {
  .mainDeGaleria__galeria--contenedor {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 1024px) {
  .mainDeGaleria__galeria--contenedor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: auto; } }

@media (min-width: 1200px) {
  .mainDeGaleria__galeria--contenedor {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

/*Acá empiezan los estilos de la página contactanos*/
.header__navbar--contactanos {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  margin-left: -12px; }

@media (min-width: 1px) {
  .formularioPrincipal {
    position: relative;
    top: 78px; }
  .formularioPrincipal__img {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; }
  .formularioPrincipal__tituloDelFormulario {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 2rem; }
  .formularioPrincipal__form {
    font-family: "Monserrat", sans-serif;
    text-align: center;
    background-color: #61B142;
    background: linear-gradient(to top, #039B8E, #61B142);
    width: 100%;
    padding-bottom: 5px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
  .formularioPrincipal__boton--reiniciar {
    padding: 4px; }
  .formularioPrincipal__boton--enviar {
    padding: 4px; }
  .footerDeContactanos {
    padding-bottom: 1rem;
    position: relative;
    top: 78px;
    margin: 0px; }
  .footerDeContactanos__elementos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
  .footerDeContactanos__link {
    text-decoration: none; }
  .footerDeContactanos__link--img {
    margin-top: 1rem; } }

@media (min-width: 333px) {
  .formularioPrincipal__tituloDelFormulario {
    font-size: 2.5rem; } }

@media (min-width: 768px) {
  .formularioPrincipal__form {
    width: 100%; } }

@media (min-width: 1200px) {
  .formularioPrincipal {
    display: flex; }
  .formularioPrincipal__img {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0px; }
  .formularioPrincipal__form {
    padding-top: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0px; } }
