* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


$verdeCordoba: #61B142;
$Impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$paddingParaBotones: 4px;

h1 {
    color: $verdeCordoba;
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
}

h2 {
    @extend h1;
    font-family: $Impact;
    color: black;
    font-size: 55px;

}


.mainDelIndex {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.75fr 1fr;
    grid-template-areas: 
        "img img img"
        "img centro img"
        "img img img";

    img {
        grid-area: img;
    }

    h1 {
        grid-area: centro;
    }

    p {
        grid-area: centro;
        color: white;
        max-width: 500px;
        text-align: center;
        margin: auto;
        line-height: 25px;
    }
    align-content: center;
}


.mainDelIndex__imagen {
    width: 100%
}

.footerDelIndex {
    .footerDelIndex__link{
        text-decoration: none;
    }

}

.footerDelIndex__link--img{
    margin-top: 20px;
    margin-right: 20px;
}


@media(max-width:575px) {
    .mainDelIndex h1{
        font-size: 30px;
        margin-top: 60px;
    }

    .mainDelIndex p{
        padding: 30px;
        margin-bottom: 75px;
        font-size: 10px;
        line-height: 15px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .mainDelIndex h1{
        font-size: 35px;
        margin-top: 55px;
    }

    .mainDelIndex p{
        padding: 30px;
        margin-bottom: 75px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .mainDelIndex h1{
        font-size: 45px;
        margin-top: 75px;
    }

    .mainDelIndex p{
        padding: 30px;
        margin-bottom: 100px;
        font-size: 15px;
        line-height: 20px;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .mainDelIndex h1{
        font-size: 45px;
        margin-top: 125px;
    }

    .mainDelIndex p{
        padding: 30px;
        margin-bottom: 180px;
        font-size: 15px;
        line-height: 20px;
    }
}

@media(min-width:1200px) {
    .mainDelIndex h1{
        font-size: 45px;
        margin-top: 150px;
    }

    .mainDelIndex p{
        padding: 30px;
        margin-bottom: 180px;
        font-size: 15px;
        line-height: 20px;
    }

    .mainDelIndex {
        margin-right: 180px;
    }

    .footerDelIndex {
        margin-left: 182px;
    }
}






/*Acá empiezan los estilos de la página nosotros*/





.nosotrosMain  {
    text-align: center;
    h2{
        margin-top: 2rem;
    }
    p{
        margin-bottom: 3.5rem;
    }
}

.nosotrosMain__titulo {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 4rem;
}

.nosotrosMain__parrafo {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

.nosotrosTablaDeServicios {
    margin-top: 30px;
    margin-bottom: 30px;
    background:cornflowerblue;
    border-radius: 50px;
    display: grid;
    height: 50vh;
    text-align: center;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 25% 20% 25%;    
    grid-template-areas: 
        "titPrinc titPrinc titPrinc titPrinc titPrinc"
        "tit1 tit2 tit3 tit4 tit5"
        "precio1 precio2 precio3 precio4 precio5"
        "footer footer footer footer footer"
}

.nosotrosTablaDeServicios__tituloPrincipal  {
    font-family: "Roboto", sans-serif;
    grid-area: titPrinc;
}

.nosotrosTablaDeServicios__titulo1 {
    
    grid-area: tit1;
}

.nosotrosTablaDeServicios__titulo2 {
    
    grid-area: tit2;
}

.nosotrosTablaDeServicios__titulo3 {
    
    grid-area: tit3;
}

.nosotrosTablaDeServicios__titulo4 {
    
    grid-area: tit4;
}

.nosotrosTablaDeServicios__titulo5 {
    
    grid-area: tit5;
}

.nosotrosTablaDeServicios__precio1 {
    
    grid-area: precio1;
}

.nosotrosTablaDeServicios__precio2 {
    
    grid-area: precio2;
}

.nosotrosTablaDeServicios__precio3 {
    
    grid-area: precio3;
}

.nosotrosTablaDeServicios__precio4 {
    
    grid-area: precio4;
}

.nosotrosTablaDeServicios__precio5 {
    
    grid-area: precio5;
}

.nosotrosTablaDeServicios__footer {
    
    grid-area: footer;
}

.footerDeNosotros {
    margin-bottom: 0.5rem;
}

.footerDeNosotros__link{
    text-decoration: none;
}

.footerDeNosotros__link--img{
    margin-top: 1rem;
    margin-right: 1rem;
}




/*Acá empiezan los estilos de la Galería de Imagenes*/






.mainDeGaleria__titulo {
    @extend .formularioPrincipal__tituloDelFormulario;
    text-align: center;
    margin-top: 1.5rem;
}

.mainDeGaleria__galeria--contenedor {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    display: grid;
}

.mainDeGaleria__galeria--imagenes {
    margin: 0.1rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(min-width:520px) {
    .mainDeGaleria__galeria--contenedor {
        grid-template-columns: 1fr 1fr;
    }
    .footerDeGaleria {
        margin-bottom: 0.5rem;
    }
    .footerDeGaleria__link{
        text-decoration: none;
    }
    .footerDeGaleria__link--img{
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

@media(min-width:728px) {
    .mainDeGaleria__galeria--contenedor {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1024px) {
    .mainDeGaleria__galeria--contenedor {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1024px;
    }

    .footerDeGaleria {
        margin-left: 65px;
    }
}

@media(min-width:1200px) {
    .mainDeGaleria__galeria--contenedor {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1200px;
    }
}






/*Acá empiezan los estilos de la página contactanos*/





@media(min-width: 1px) {

    .formularioPrincipal__img{
        width: 100%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .formularioPrincipal__form {
        text-align: center;
        background-color: $verdeCordoba;
        background: linear-gradient(to top,#039B8E, $verdeCordoba);
        width: 100%;
        padding-bottom: 5px;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .formularioPrincipal__tituloDelFormulario {
        font-family: $Impact;
        color: black;
        font-size: 3.5rem;
    }
    
    .formularioPrincipal__boton--reiniciar {
        padding: $paddingParaBotones;
    }
    
    .formularioPrincipal__boton--enviar {
        padding: $paddingParaBotones;
    }

    .footerDeContactanos {
        margin-bottom: 0.5rem;
    }

    .footerDeContactanos__link{
        text-decoration: none;
    }
    
    .footerDeContactanos__link--img{
        margin-top: 1rem;
        margin-right: 1rem;
    }
}



@media(min-width: 768px) {

    .formularioPrincipal__form {
        width: 100%;
        text-align: center;
        background-color: $verdeCordoba;
        background: linear-gradient(to top,#039B8E, $verdeCordoba);
    }

    .footerDeContactanos {
        margin-bottom: 1rem;
    }
}

@media(min-width: 1200px) {

    .formularioPrincipal{
        display: flex;
    }

    .formularioPrincipal__img{
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 0px;
    }

    .formularioPrincipal__form {
        padding-top: 2rem;
        text-align: center;
        background-color: $verdeCordoba;
        background: linear-gradient(to top,#039B8E, $verdeCordoba);
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0px;
    }
}

